.story {
  overflow: hidden;
}

.circle {
  fill: none;
  stroke: #0B8EFF;
  stroke-width: 1.5px;
  stroke-dasharray: 1;
  stroke-linecap: round;
  animation: loading 1.9s cubic-bezier(0.4, 0, 1, 1) forwards;
  transform-origin: 50% 50%;
}

@keyframes loading {
  100% {
    stroke: #0B8EFF;
    stroke-dasharray: 5 0;
    transform: rotate(20deg);
  }
}

/* .story {
  overflow: hidden;
}

.circle {
  fill: none;
  stroke: #0B8EFF;
  stroke-width: 1.5px;
  stroke-linecap: round;
  transform-origin: 50% 50%;

  stroke-dasharray: 2 12;
  stroke-dashoffset: 0;

  animation: loading 6s ease-in-out forwards,
             rotate 6s linear infinite;
}

@keyframes loading {
  0% {
    stroke-dasharray: 2 12;
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dasharray: 8 10;
  }

  70% {
    stroke-dasharray: 40 6;
  }

  100% {
    stroke-dasharray: 251 0; 
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
} */
