.story {
  overflow: hidden;
}

.circle {
  fill: none;
  stroke: #0B8EFF;
  stroke-width: 1.6px;
  stroke-dasharray: 1;
  stroke-linecap: round;
  animation: loading 0.5s cubic-bezier(0.4, 0, 1, 1) forwards;
  transform-origin: 50% 50%;
}

@keyframes loading {
  100% {
    stroke: #0B8EFF;
    stroke-dasharray: 5 0;
    transform: rotate(20deg);
  }
}